{% macro render_post(post) %}
<div class="row">
    <div class="col-md-2 text-right metadata">
        <ul class="list-unstyled">
            <li>
                {{ post.datetime | dateformat("%d/%m/%y") }}
            </li>
            <li>
                <img src="{{resized_img_src(post.main_image(), width=80)}}"/>
            </li>
            
        </ul>
    </div>
    <div class="col-md-10">
        <h1><a href="/post/{{ post.id }}">{{ post.title }}</a></h1>
        {{ post.body | safe }}
        {{ post.id }}
        
        <a href="/post/{{ post.id }}/edit"> Edit Post</a>
        <form action="/post/{{ post.id }}/delete" method="post">
        <button type="submit" value="remove">Delete</button>
        </form>
    </div>
</div>
{% endmacro %}